body{
    background-color: aliceblue;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    
}
h1{
    color: black;
    text-align: center;

}

    


button{
    background: none;
    font-size: medium;
    color: white;
    padding: 15px;
    border: none;
    cursor:pointer;
    transition: .5s ease;
    }
button:hover{
    background-color: white;    
    color: black;
}
button:active{
    background-color: black;
    color: white;
    
}
.navbar__menu{
    display: flex;
    border: none;
    cursor: pointer;
    justify-content: space-between;
    margin: auto;


   
}

a{
  position: relative;
  text-decoration: none;
  font-family: "Poppins" ,sans-serif;
  color: grey;
  font-size: 18px;
}


a:after{
    content: "";
    position: absolute;
    background-color: blue;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
}

a:hover{
    color: black
}

a:hover:after{
    width: 100%;
}

li {
    list-style-type:none;
}

  


.sign-in-username{
    color: aliceblue;

}

/* changes the atributes for Personal-information label at sign in like colour */
#personal-info1{
    color: black;
}



#Acc-security1{
    color: black
}

label{
    width: 100px;
    display: inline-block;
}

.navbar__menu {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    display: flex;
}


.sign-in5 {
    display: flex;
    justify-content: flex-end;
}

