body{
    background-color: aliceblue;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    
}
h1{
    color: black;
    text-align: center;
}

    


button{
    background: none;
    font-size: medium;
    color: white;
    padding: 15px;
    border: none;
    cursor:pointer;
    transition: .5s ease;
    }
button:hover{
    background-color: white;    
    color: black;
}
button:active{
    background-color: black;
    color: white;
    
}
.navbar__menu{
    display: flex;
    border: none;
    cursor: pointer;
    justify-content: space-between;
    margin: auto;


   
}

a{
  position: relative;
  text-decoration: none;
  font-family: "Poppins" ,sans-serif;
  color: grey;
  font-size: 18px;
}


a:after{
    content: "";
    position: absolute;
    background-color: blue;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
}

a:hover{
    color: black
}

a:hover:after{
    width: 100%;
}

li {
    list-style-type:none;
}

  

.sign-in-username{
    color: aliceblue;

}

/* changes the atributes for Personal-information label at sign in like colour */


label{
    width: 100px;
    display: inline-block;
}

.navbar-container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}


.logandsign-in{
    display: flex;
    justify-content: flex-end;
}
.navbar__items{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

#Register-container{
    width: 100vw;
    display: flex;
    justify-content: center;
}
#Register-form{
    border-radius: 20px;
    padding: 30px;
    background-color: rgba(163, 176, 219, 0.4);
}
.logandsign-in #sign-join{
    border: 20px;
    background-color: aqua;
    width: 10vw;
    border-radius: 30px;
    margin: 5px;
}
.logandsign-in #sign-Log{
    border: 20px;
    background-color: aqua;
    width: 10vw;
    border-radius: 30px;
    margin: 5px;
}
