body{
    background-color:black;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    
}
h1{
    color: aliceblue;
}

    


button{
    background: none;
    font-size: medium;
    color: white;
    padding: 15px;
    border: none;
    cursor:pointer;
    transition: .5s ease;
    }
button:hover{
    background-color: white;
    color: black;
}
button:active{
    background-color: black;
    color: white;
}
.navbar__menu{
    display: flex;
    border: none;
    cursor: pointer;
    justify-content: space-between;
    
    
   
    
    
}

li {
    list-style-type:none;
}

a {
    color: white;
    text-decoration: none;   
}

.sign-in-username{
    color: aliceblue;

}

/* changes the atributes for Personal-information label at sign in like colour */
#personal-info1{
    color: aliceblue;
}

/* changes the style and look for the labels within the personal information label seperately from the one above  */
#jerkins{
    color: aqua;
}

#Acc-security1{
    color: aliceblue
}

label{
    width: 100px;
    display: inline-block;
}

.sign-in5{
    margin-left: 50%;
    display: flex;
}
.page_title{
    
}
